<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="icon" type="image/png" href="{{ url_for('static', filename='assets/img/favicon.ico') }}"/>


    <!-- Libs CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/fonts/Feather/feather.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/libs/aos/dist/aos.css') }}">

    <!-- Theme CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/theme.min.css') }}">

    <title>Sign in - Datanews API</title>

  </head>
  <body>

    <!-- CONTENT
    ================================================== -->
    <section class="section-border border-primary">
      <div class="container d-flex flex-column">
        <div class="row align-items-center justify-content-center no-gutters min-vh-100">
          <div class="col-12 col-md-5 col-lg-4 py-8 py-md-11">

            <!-- Heading -->
            <h1 class="mb-0 font-weight-bold text-center">
              Settings
            </h1>

            <!-- Text -->
            <p class="mb-6 text-center text-muted">
              Set first name and last name below
            </p>

            {% for message in get_flashed_messages() %}
              <div class="alert alert-danger" style="width: 100%;">{{ message }}</div>
            {% endfor %}

            <!-- Form -->
            <form class="mb-6" method="POST">

              <!-- Email -->
              <div class="form-group">
                <label for="email">
                  First name
                </label>
                {{ form.first_name(class="form-control", placeholder="First name") | safe}}
              </div>

              <!-- Password -->
              <div class="form-group mb-5">
                {{ form.last_name(class="form-control", placeholder="Last name") | safe }}
              </div>

              {{ form.csrf_token }}

              <!-- Submit -->
              <button class="btn btn-block btn-primary" type="submit">
                Set settings
              </button>

            </form>
          </div>
        </div> <!-- / .row -->
      </div> <!-- / .container -->
    </section>

    <!-- JAVASCRIPT
    ================================================== -->
    <!-- Libs JS -->
    <script src="{{ url_for('static', filename='assets/libs/jquery/dist/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/libs/aos/dist/aos.js') }}"></script>

    <!-- Theme JS -->
    <script src="{{ url_for('static', filename='assets/js/theme.min.js') }}"></script>
  </body>
</html>